.login-submit{
    background-color: #f27f3d;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    border: none
}

.login-submit:active{
    background-color: #db6d2e;
    border: none;
}

.login-submit:focus{
    background-color: #db6d2e;
    border: none;
}

.login-submit:hover{
    background-color: #db6d2e;
}

.login-form{
    margin-top: 150px
}

.login-form img{
    width: 100%;
}

.error-message{
    padding: 5px 10px;
    color: red;
    border: 1px solid rgb(236, 31, 31, 0.5);
    border-radius: 5px;
    background-color: rgb(236, 31, 31, 0.15);
    width: 100%;
    font-size: 0.8em;
}