.signup-submit{
    background-color: #f27f3d;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    border: none
}


.signup-submit:active{
    background-color: #db6d2e;
    border: none;
}

.signup-submit:focus{
    background-color: #db6d2e;
    border: none;
}

.signup-submit:hover{
    background-color: #db6d2e;
}

.signup-form{
    margin: 100px auto
}

.signup-form img{
    width: 100%
}

.add-ages{
    display: flex
}

.psych-title{
    text-align: center
}

.signup-form label{
    margin-top: 10px
}