.psych-card img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    padding: 0;
    border-radius: 5px
}

.psych-card{
    text-align: left;
    width: 100%;
    margin: 20px
}

.psychcard-info{
    padding: 10px 20px
}

.psych-card>div{
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.psych-card:hover{
    box-shadow: 1px 1px 3px 2px lightgrey;
    border-radius: 5px
}

.title{
    margin: 100px 0 25px;
    text-align: center;
}

.infobtn{
    background-color: #f27f3d;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px auto 0;
    border: none;
    text-align: center;
    display: block;
}

.infobtn:active{
    background-color: #db6d2e;
    border: none;
}

.infobtn:focus{
    background-color: #db6d2e;
    border: none;
}

.infobtn:hover{
    background-color: #db6d2e;
    text-decoration: none;
    color: white
}

@media all and (max-width: 425px) {
    .psych-card img{
        height: 150px
    }
}