.psych-card img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    padding: 0;
    border-radius: 5px
}

.psych-card{
    text-align: left;
    width: 100%;
    padding: 10px 10px 0 10px;
    margin: 20px 0
}

.psychcard-info{
    padding: 10px 20px
}

.psych-card>div{
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.psych-card:hover{
    box-shadow: 1px 1px 3px 2px lightgrey;
    border-radius: 5px
}

@media all and (max-width: 425px) {
    .psych-card img{
        height: 200px;
    }
}