.psych-details{
    margin: 120px 0;
}

.psych-details .details-img img{
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.header{
    text-align: center;
}

.psych-details small{
    color: grey;
}

.back-link{
 text-decoration: none
}

.contact-btn, .contact-btn:focus, .contact-btn:visited{
    background-color: white;
    color:  #a5d499;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px auto;
    border: 1px solid  #a5d499;
    text-align: center;
    display: block;

    transition: all 0.3s;
}

.contact-btn:active, .contact-btn:hover{
    text-decoration: none;
    background-color:  #a5d499;
    border-color: #a5d499;
    color: white
}

.map{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 250px
}

.alert{
    border: 1px solid #F2A679;
    background-color: rgb(242, 166, 121, 0.2);
    margin-top: 10px
}

.login-msg{
    border: 1px solid  #FCA400;
    background-color:  rgb(252, 164, 0, 0.2);
    margin-top: 15px;
    border-radius: 5px;
    padding: 5px 8px;
    font-size: 0.8em
}

#infobtn-off, #infobtn-off:hover{
    background-color: rgb(116, 110, 110);
    font-weight: 0.5em;
    border-color: rgb(116, 110, 110);
    color: white;
    margin-top: 10px
}

.wpp, .tlf{
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px auto;
    border: 1px solid  #a5d499;
    text-align: center;
    display: block;

    transition: all 0.3s;
}

.wpp{
    border:1px solid #59C157;
    color: #59C157;   
}

.wpp:hover{
    text-decoration: none;
    background-color: #59C157;
    color: white
}

.tlf{
    border: 1px solid #2A558C;
    color: #2A558C;
    background-color: white
}

.tlf:hover{
    text-decoration: none;
    background-color: #2A558C;
    color: white
}

@media all and (max-width: 425px) {
    .details-img img{
        height: 200px;
    }

    .details-img{
        text-align: center;
    }  
}