.hero{
    background: url('https://res.cloudinary.com/djqsmqs26/video/upload/v1607365473/helping-hand/Pexels_Videos_1723017_1_rtp1hb.mp4');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 75vh
}

.videoTag {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

.hero>div{
    text-align: center;
    margin: 0 auto;
    width: 60%;
    padding: 175px 0;
}

.hero .button{
    display: block;
    margin: 0 auto;
    border: 1.5px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    width: 90%;
    text-align: center;
    color: white;
    text-decoration: none;

    transition: all 0.5s;
}

.hero .button:hover{
    color: #2A558C;
    background-color: white;
}

.info{
    background-color: #EAF3FA;
    text-align: center;
    min-height: 25vh;
    padding: 4vh 0 2vh;
}

.info p{
    padding: 0 10px
}

.icon{
    width: 45px;
    margin-bottom: 10px
}
@media all and (min-width: 610px){
    .hero .button{
        width: 70%
    }
}

@media all and (min-width: 768px){
    .hero .button{
        width: 60%
    }
}

@media all and (min-width: 840px){
    .hero .button{
        width: 50%
    }
}

@media all and (max-width: 918px){
    .hero>div{
        padding: 150px 0
    }
}

@media all and (max-width: 768px){
    .icon{
        margin-top: 20px
    }

    .info p{
        width: 80%;
        margin: 0 auto
    }
}

@media all and (max-width: 565px){
    .hero .button, .hero p{
        width: 100%
    }
}

@media all and (max-width: 470px){
    .hero h1{
        font-size: 2em;
    }

    .info h3{
        font-size: 1.6em
    }
}

@media all and (max-width: 458px){
    .hero>div{
        padding: 100px 0
    }
}

@media all and (max-width: 375px){
    .hero h1{
        font-size: 1.8em;
    }

    .info h3{
        font-size: 1.3em
    }
}


